.jukiPfp {
    position: absolute;
    width: 20.63rem;
    height: 20.5rem;
    left: 43.44rem;
    top: 4.44rem;
}

.board {
    box-sizing: border-box;
    position: absolute;
    width: 66.44rem;
    height: 77.75rem;
    left: 0.5rem;
    top: 35.5rem;
    background: #FFFFFF;
    border: 1.875rem solid #EF9636;
    border-radius: 21.88rem;
}

.yellowCircle {
    box-sizing: border-box;
    position: absolute;
    width: 26.38rem;
    height: 26.38rem;
    left: 6.19rem;
    top: 46.81rem;
    z-index: 2;
    background: rgba(250, 255, 0, 0.73);
    border: 1.875rem solid #FFFFFF;
    border-radius: 50%;
}

.redCircle {
    box-sizing: border-box;
    position: absolute;
    width: 26.38rem;
    height: 26.38rem;
    left: 35rem;
    top: 46.81rem;
    z-index: 2;
    background: rgba(239, 39, 39, 0.62);
    border: 1.875rem solid #FFFFFF;
    border-radius: 50%;
}

.whiteCircle {
    box-sizing: border-box;
    position: absolute;
    width: 31.88rem;
    height: 31.88rem;
    left: 16.63rem;
    top: 76.81rem;
    z-index: 1;
    background: #FFFFFF;
    border: 1.875rem solid #D9D9D9;
    border-radius: 50%;
}

.jukiSpeechBox {
    position: absolute;
    width: 44.19rem;
    height: 13.25rem;
    left: 3.94rem;
    top: 16.94rem;
    background: #EF9636;
    border-radius: 3.75rem;
    z-index: 1;
}

.jukiSpeech1 {
    position: fixed;
    width: 40.63rem;
    height: 13.31rem;
    left: 6.63rem;
    top: 20rem;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    color: #FFFFFF;
    z-index: 1;
}

.orange {
    position: absolute;
    width: 22.81rem;
    height: 23.69rem;
    left: 6.19rem;
    top: 46.81rem;
    z-index: 1;
    animation: bounce 1.5s infinite;

}

.kiwi {
    position: absolute;
    width: 25.06rem;
    height: 25rem;
    left: 35rem;
    top: 46.81rem;
    z-index: 1;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}