@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


#root {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}


html, body {
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8355F5;
    width: 1080px;
    height: 1920px;
    font-family: 'Quicksand', sans-serif;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 311px;
    height: 149px;
    left: 39px;
    top: 71px;
}

.tapButton{
    position: absolute;
    width: 707px;
    height: 304px;
    left: 195px;
    top: 1457px;
    z-index: 2;
    animation: pulse 2s infinite;

}

.cloud {
    position: absolute;
    width: 57.1875rem;
    height: 35.1875rem;
    left: -14rem;
    top: 88.625rem;
    z-index: 0;

}

.cloud1 {
    position: absolute;
    width: 57.1875rem;
    height: 35.1875rem;
    left: 29.25rem;
    top: 50.6875rem;
    z-index: 0;
}

.cloud-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    /*overflow: hidden;*/
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}